<template>
  <h1>About page</h1>
  <p><a href="eweww">test</a></p>
  <h2>Grid test</h2>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'AboutPage',
})
</script>
