<template>
  <h1>Home page</h1>
  <input style={styles.input} placeholder='Person Id' v-model="id"/>
  <button color='teal' onClick={loadPerson}>load</button>
<!--  {person.empty && (<div>Not loaded</div>)}-->
<!--  {person.loading && (<div>Loading...</div>)}-->
<!--  {person.error && (<div>{person.message} {JSON.stringify(person.error)}</div>)}-->
<!--  {person.value && (<div>{person.value.name}</div>)}-->
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue'
// import { useStore } from "../store";

export default defineComponent({
  name: 'HomePage',
  setup() {
    // const store = useStore();
    const id = ref(1);

    watch(id, (newId) => {
      // store.dispatch(ActionTypes.LOAD_USER);
    });

    return {
      id,
    }
  }
})
</script>
