<template>
  <h1>Page not found</h1>
  <p>The page you requested cannot be found!</p>
  <p>Enim consequat ultricies mollis ut, magnis tellus. et pellentesque rutrum.
    elementum fringilla dapibus. nec, vel nulla Aenean tellus. massa. ridiculus
    felis Donec ipsum nascetur parturient eleifend Aenean quis, augue. Cras Integer
    porttitor viverra eget nisi. dui. eu, imperdiet elit. quis ut Aenean mus. Donec
    imperdiet. vel, pretium consectetuer lorem felis, adipiscing natoque pede eget,
    commodo ultricies pede a, sociis tincidunt. laoreet. Phasellus Curabitur ligula,
    vitae, eget aliquet semper ligula montes, Etiam justo, a, Aliquam quam rhoncus
    feugiat enim. ultricies eu viverra consequat Lorem sit in, vulputate nisi Cum
    Nulla enim. Nam quis, Aenean ullamcorper ac, Quisque In eu, amet, ante,
    venenatis nec, arcu. varius dictum penatibus Nullam justo. vitae, justo, metus
    dis pretium. dapibus Vivamus eleifend Aenean dolor dolor. leo sem. massa
    vulputate nisi.
    Enim consequat ultricies mollis ut, magnis tellus. et pellentesque rutrum.
    elementum fringilla dapibus. nec, vel nulla Aenean tellus. massa. ridiculus
    felis Donec ipsum nascetur parturient eleifend Aenean quis, augue. Cras Integer
    porttitor viverra eget nisi. dui. eu, imperdiet elit. quis ut Aenean mus. Donec</p>
  <p>Enim consequat ultricies mollis ut, magnis tellus. et pellentesque rutrum.
    elementum fringilla dapibus. nec, vel nulla Aenean tellus. massa. ridiculus
    felis Donec ipsum nascetur parturient eleifend Aenean quis, augue. Cras Integer
    porttitor viverra eget nisi. dui. eu, imperdiet elit. quis ut Aenean mus. Donec
    imperdiet. vel, pretium consectetuer lorem felis, adipiscing natoque pede eget,
    commodo ultricies pede a, sociis tincidunt. laoreet. Phasellus Curabitur ligula,
    vitae, eget aliquet semper ligula montes, Etiam justo, a, Aliquam quam rhoncus
    feugiat enim. ultricies eu viverra consequat Lorem sit in, vulputate nisi Cum
    Nulla enim. Nam quis, Aenean ullamcorper ac, Quisque In eu, amet, ante,
    venenatis nec, arcu. varius dictum penatibus Nullam justo. vitae, justo, metus
    dis pretium. dapibus Vivamus eleifend Aenean dolor dolor. leo sem. massa
    vulputate nisi.
    Enim consequat ultricies mollis ut, magnis tellus. et pellentesque rutrum.
    elementum fringilla dapibus. nec, vel nulla Aenean tellus. massa. ridiculus
    felis Donec ipsum nascetur parturient eleifend Aenean quis, augue. Cras Integer
    porttitor viverra eget nisi. dui. eu, imperdiet elit. quis ut Aenean mus. Donec</p>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'NotFoundPage',
})
</script>
