<template>
  <div className="nav">
    <nav>
      <ul>
        <li><router-link to="/">home</router-link></li>
        <li><router-link to="/about">about</router-link></li>
        <li><router-link to="/NotFound">NotFound</router-link></li>
      </ul>
    </nav>
    <div />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
  name: 'Navbar',
})
</script>

<style lang="scss">
.nav {
  nav {
    @apply fixed w-full bg-purple-900;
    ul {
      @apply flex flex-row;
    }
    a {
      @apply block px-4 py-2 text-white;
    }
  }
  > div {
    @apply h-10;
  }
}
</style>
