body {
  font-family: Verdana, sans-serif;
}

.content > a, .content > a:visited {
  text-decoration: none;
  color: $base-color;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
  color: $base-color;
}
h1, .h1 {
  font-size: 32px;
}
h2, .h2 {
  font-size: 28px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 20px;
}

.container {
  padding: 12px;
}

input {
  @apply px-4 py-2 border rounded-lg;
  border-color: $base-light-color;
}